* {
  margin: 0;
  padding: 0;  
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.video-holder {
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(12, 12, 12, 0.5);
    color: white;
}

.video-bg {
    position: absolute;
    z-index: -1;
    bottom: 0;
    right: 0;
}


@media (min-aspect-ratio: 16/9) {
    .video-bg {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .video-bg {
        width: auto;
        height: 100%;
    }
}