* {
  margin: 0;
  padding: 0;  
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bg-video {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1;
}

#navbar {
    height: 80px;
    background-color: black;
    color: whitesmoke;
}

#about-me {
    height: 200px;
}

#game-1 {
    height: 600px;
}

#game-2 {
    height: 600px;
}

@media (min-aspect-ratio: 16/9) {
    .bg-video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .bg-video {
        width: auto;
        height: 100%;
    }
}